<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <thead>
    <tr>
        <th>크루명</th>
        <th>캡틴</th>
        <th>카테고리코드</th>
        <th>시작일</th>
        <th>종료일</th>
        <th>모집상테</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="crew : ${crews}">
        <td th:text="${crew.crewName}"></td>
        <td th:text="${crew.User.}"></td>
        <td th:text="${crew.crewCategoryCode.category_code}"></td>
        <td th:text="${crew.startDate}"></td>
        <td th:text="${crew.endDate}"></td>
        <td th:text="${crew.recruitmentStatus}"></td>
    </tr>
    </tbody>
</div>
</body>
</html>